body{
	font-family: "Helvetica" ,"Arial","Times New Roman";
}

a {
	text-decoration: none;
}

.nav-container {
   	width: 960px;
   	margin: 0 auto;
} 

.container {
   	margin-top: 90px;
}

.postheader{
    font-weight: bold;
    margin-bottom: 10px;
 }
 .header{
 	padding-top: 0;
 	margin-top: 0;
 }
 .postmeta{
 	margin: 15px 0 0;
 }
 .postmeta  .avatar {
 	float:left;
 }
 .postmeta .author {
 	float:left;
 	padding-top:7px;
 	margin-left:7px;
 }
 .postmeta .tags {
 	float: right;
 } 
 	
 #tags {
 	padding-left: 20px;
 }
 .ui.images img {
 	width:23.5%;
 }
 .albumheader {
 	margin-top:50px;
 }
 #rightside {
	padding-left:45px;
 }
.ui.feed > .event > .content .extra.images img{
	width: 32%;
}
  .ui.feed > .event > .content {
  	line-height: 20px;
  }
  
  .post{
  	margin-top:30px;
  }
  .post p {
  	line-height: 24px;
  }
  .post.like{
		float: right;
  
  }  
  
/*   .tags{
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        margin: 0;
        outline: 0;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(255,255,255,0);
        line-height: 1.2142em;
        padding: 0;
        font-size: 1em;
        background: #fff;
        height: 37px;
        border: 1px solid rgba(39,41,43,.15);
        color: rgba(0,0,0,.8);
        border-radius: .2857rem;
        box-shadow: 0 0 0 0 transparent inset;
        -webkit-transition: background-color .2s ease,color .2s ease,box-shadow .2s ease,border-color .2s ease;
        transition: background-color .2s ease,color .2s ease,box-shadow .2s ease,border-color .2s ease;

  } */
  .event .tags {
  	float: left;
  
  }
  .ui.form input[type="text"].tag-input{
/*         border: 0;
        padding: 0;
        margin: 0;
        outline: 0;
        position: relative;
        height: 30px;
        padding-top: 3px;
       width: 100%; 
		vertical-align: baseline; */
  }
  .tagfield {
    /* display: inline-block; */
    padding-left:0;
    margin-top: 5px;
  }	
  .froala-editor, .froala-wrapper.f-basic {
	  border: 1px solid rgba(39, 41, 43, 0.15);
  	  color: rgba(0, 0, 0, 0.8);	      
      box-shadow: 0em 0em 0em 0em transparent inset;
  }
  .froala-editor {
  	border-radius: 0.2857rem 0.2857rem 0 0;
  }
  .froala-wrapper.f-basic {
  	border-radius: 0 0 0.2857rem 0.2857rem;
  }
  .froala-element {
  	min-height: 330px;
  }
  
  	.loginarea{
		/*position: relative;*/
		padding-top: 30%;		
	}
	.forgetpwd{
		float: right;
		padding-top: 5px;
	}
	.social{

	}
	.social .button{
	
		margin-bottom: 10px;
	}

	.segment {
	  position: relative;
	  box-shadow: 0 0 0 1px rgba(39,41,43,.15),0 1px 2px 0 rgba(0,0,0,.05);
	  border-radius: .2857rem;
	  border: none;
	}	

	.forgetpwd{
		float: right;
		padding-top: 5px;
	}	
	
.event .actions {
	float: right;
}

.social-login {
	padding-top: 94px;
}
.social-login .button {
	padding-bottom: 30px;
}
.tip{
	float: right;
}
.ui.menu {
	background: none;
	
}
.ui.labeled.icon.menu {
	margin-top: 0;
	margin-left: 10px;
	margin-bottom: 30px;
	
}
.ui.labeled.icon.menu > .item {
	width: 141px;
}
.ui.small.centered.circular.image {
	width: 120px;
}
.ui.cards > .card, .ui.card {
	box-shadow: none;
}

.ui.card > .ui.centered.circular.image {
	padding-top: 30px;
}

.ui.cards > .card > .image > img, .ui.card > .image > img{
	  border-radius: 500rem;
}
.ui.cards > .card > .image, .ui.card > .image {
	background: none;
}

.ui.statistics > .statistic {
	margin: 0;
	min-width: 33%;
}

.mini.ui.button.follow {
	display: block;
}

.ui.card .centered {
	text-align: center;
}

.tagheader > div{
	display: inline-block;
	vertical-align: middle;
}
.tagheader > .content {
	font-size: 1.5em;
}

#hottags .item {
	padding: 10px 0;
	
}
.ui.divided.list > .item  {
	border-top: 1px solid  rgba(0, 0, 0, 0.05);
}
.navbar-nav .dropdown {
  line-height: 20px;
  position: relative;
  padding: 10px 0 10px 0;
}

.ui.simple.dropdown .menu {
	right: 3px;
	left: auto;
}

.navbar-nav .dropdown  {
	padding: 10px 4px 12px 0;
}

.tagfield .ui.label {
	margin: 3px 3px 3px 0;
}

#album_desc{
	height: 8em;
}

.ui.feed > .event > .label + .content {
	margin-top: 0px;
	padding-top: 0px;
}

.ui.feed .content .extra img {
	width: 100%;
}

.header_box{
	display: table;
	margin-bottom: 40px;
}
.header_box .ui.avatar.image, #action_bar {
	display: table-cell;
	vertical-align: middle;
}
#action_bar{
	padding-left: 10px;
}
#action_bar .item {
	height: 100px;
	padding: 28px;
}

.short_post{
	width: 566px;
	height: 140px;
	border-radius: 3px;
	background: #FFFFFF;
	border: 1px solid #DEDEDE;	
}

#action_bar textarea {
	width: 100%;
	height: 90px;
	border:none;
	resize: none;
	padding: 10px;
}
#action_bar textarea:FOCUS{
	outline: none;
	border:none;
}
#action_bar .bar{
	padding: 5px;
	border-top: 1px solid #DEDEDE;
}
#action_bar .bar .button{
	float: right;
}
#action_bar .bar .button:FIRST-CHILD {
	margin-left: 10px;
}



